# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.js
client/.yarn/install-state.gz

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env*.local

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts

# Ruby and Rails Specific Ignorance for api
api/*.rbc
api/capybara-*.html
api/.rspec
api/db/*.sqlite3
api/db/*.sqlite3-journal
api/db/*.sqlite3-[0-9]*
api/public/system
api/coverage/
api/spec/tmp
api/*.orig
api/rerun.txt
api/pickle-email-*.html

# Ignore all logfiles and tempfiles for api
api/log/*
api/tmp/*
!api/log/.keep
!api/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
api/config/initializers/secret_token.rb
api/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# api/config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
api/.env
api/.env*.local

## Environment normalization for api
api/.bundle
api/vendor/bundle

# these should all be checked in to normalize the environment:
# api/Gemfile.lock, api/.ruby-version, api/.ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
api/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
api/vendor/assets/bower_components
api/*.bowerrc
api/bower.json

# Ignore pow environment settings
api/.powenv

# Ignore Byebug command history file
api/.byebug_history

# Ignore node_modules for api
api/node_modules/

# Ignore precompiled javascript packs for api
api/public/packs
api/public/packs-test
api/public/assets

# Ignore yarn files for api
api/yarn-error.log
api/yarn-debug.log*
api/.yarn-integrity

# Ignore uploaded files in development for api
api/storage/*
!api/storage/.keep
api/public/uploads
